@import '../../styles/variables.scss';

.button {
  background-color: $color;
  color: $white;
  padding: 1rem;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px $highlight;
  }
  &:active {
    background-color: $dark;
    box-shadow: inset 0 0 5px $dark;
  }
}
