@import '../../styles/variables.scss';

.app {
  margin: 15%;
  display: flex;
  justify-content: center;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $neutral;
}
